/* Import Lato font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');


body, header{
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #14213D;
  font-weight: 400;
}

body::before {
  content: "";
  position: fixed; /* or 'absolute' if you want it to scroll with the page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('images/texture.jpg');
  background-size: cover;
  opacity: 0.7; /* Adjust the transparency as needed */
  mix-blend-mode: soft-light; /* Creates the soft light effect */
  pointer-events: none; /* Allows clicks to pass through to elements underneath */
  z-index: -4; /* Keeps the texture behind the content */
}

.navigation li a:hover, .banner > h3:hover {
  background-color: #e89f51; /* Lighter shade of orange for hover effect */
  transform: scale(1.05);
  transition: all 0.3s ease;
}



h1{
  font-size: 64px;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 24px;
}

p{
  font-size: 16px;
}

h1, h2, h3, p{
  line-height: 150%;
  padding: 6px 24px 6px 24px;
}


/* Stylistic stuffs */
.impact{
  font-family: 'Impact', 'Charcoal', sans-serif;
}

.bold{
  font-weight: bolder;
}

.note{
  font-size: 14px;
  color:#c9c9c9;
}

.icon{
  display: inline-block;
  width: 24px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.orange{
  color: #FCA311;
}

.orange-bg{
  background-color: #FCA311;
}

.inline{
  display: inline;
}

.textlink{
  text-decoration: underline;
  text-decoration-color: #FCA311;
  text-decoration-style: wavy;
  text-decoration-thickness: 1px;
  display: inline-block;
  color: white;
}

.textlink:hover{
  background-color: #FCA311;
  animation: move3 300ms;
}

@keyframes move3{
  from{
    height: 0px;
  }
  to{
    height: 24px;
  }
}

.textlink:visited{
  color: white;
  text-decoration: underline;
  text-decoration-color: #FCA311;
  text-decoration-thickness: 0.5px;
}

.paddingno{
  padding: 0;
}


/* Navigation*/
header {
  position: sticky;
  width: 60%;
  top: 0;
  background-color: rgba(252, 255,255, 0.1); 
  border-radius: 72px;
  backdrop-filter: blur(20px) saturate(180%); /* Added saturation for more vibrant colors beneath */
  -webkit-backdrop-filter: blur(20px) saturate(180%); /* For Safari compatibility */
  z-index: 9999;
  margin-left: auto;
  margin-right: auto;
}


nav li{
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
  color: white;
}

.navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
}

.navigation > div{
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation li a{
  display: inline-block;
  color: white;
  padding: 12px 18px 12px 18px;
  font-size: 16px;
  width: 60px;
  text-decoration: none;
  transition-property: text-decoration;
  transition-duration: 300ms;
  border-radius: 42px;
}

nav li a:hover{
  background-color: #e89f51;
}


a:visited{
  color: white;
}

nav li a.active{
  background-color: #e89f51;
}


/* Overall grid */
.header1-1{
  grid-column: 1 / -1;
  grid-row: 2 / span1;
  display: grid;
  grid-template-columns: 3fr 4fr;
  gap: 48px;
  margin: 0px 92px 0px 92px;
  align-items: start;
}


.container1-1{
  grid-column: 1 / -1;
  grid-row: 2 / span1;
  display: grid;
  grid-template-columns: 3fr 4fr 4fr 3fr;
  gap: 48px;
  align-items: center;
}


.container1-1 > div{
  border-radius: 24px;
  padding: 24px;
}

.header1-1 .name{
  display: inline-block;
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  padding-top: 0;
  margin-right: 12px;
}

.name > h1{
  font-size: 160px;
}

.header1-1 .text0{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  margin-top: 64px;;
}



/* Banner with orange background */
.header1-1 .banner{
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
  border-radius: 0px;
  margin-top: 48px;
  margin-bottom: 48px;
}



.banner > h3{
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 12px;
  margin-right: 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgba(252, 163, 17);
  border-radius: 36px;
}

.banner > h3:hover{
  animation: move4 2s infinite;
}

@keyframes move4 {
  0%{
    top: 0px;
  }
  25%{
    top: 5px;
  }
  50%{
    top: 0px;
  }
  75%{
    top: -5px;
  }
  100%{
    top: 0px;
  }
}

/* Detailed text-image pairs */
.container1-1 .image1{
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
}

.container1-1 .album{
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
}

.image1 {
  text-align: center; /* Centers inline or inline-block elements within */
  display: flex; /* Use flexbox to center the image */
  justify-content: center; /* Horizontally centers the child elements (the image) */
  align-items: center; /* Vertically centers the child elements if the container has a specified height */
}

.image1 img {
  object-fit: cover;
  width: 60%;
  aspect-ratio: 2 / 2.5;
  border-radius: 24px;
  mix-blend-mode: lighten;
}

.container1-1 .text1{
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

.container1-1 .text2{
  grid-column: 2 / span 2;
  grid-row:  3 / span 1;
}

.container1-1 h2{
  text-align: center;
}




/* Gallery container */
.gallery{
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 48px;
  justify-content: space-between;
  padding: 6px 24px 6px 24px;
}

.gallery img {
  object-fit: cover;
  width: 60%;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block; /* Ensures the margin applies correctly */
}


.gallery .a{
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.gallery .b{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.gallery .c{
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.gallery .d{
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.gallery .e{
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.gallery .f{
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.gallery .g{
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.gallery .h{
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
}


/* Project Page */
.header-grid {
  display: grid;
  grid-template-columns: 92px repeat(6, 1fr) 92px;
  grid-template-rows: 2fr auto auto 3fr;
  column-gap: 36px;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-grid .text-left{
  grid-column: 2 / span 3;
  grid-row: 2 / span 1;
}

.text-left h1{
  font-size: 96px;
  line-height: normal;
}

#down{
  grid-column: 1 / -1;
  grid-row: 3 / span 1;
  align-self: self-end;
  display: block;
  margin: 48px 0px px 0px;
  text-align: center;
  transition: transform 0.3s ease;
}

#down:hover {
  animation: pulse 600ms ease-in-out;
  filter: brightness(120%);
  transform: scale(1.2);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  25% {
    transform: scale(1.05);
    opacity: 0.95;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
  75% {
    transform: scale(1.15);
    opacity: 0.95;
  }
  100% {
    transform: scale(1.2);
    opacity: 1;
    filter: brightness(120%);
  }
}





.header-grid .text-right{
  grid-column: 5 / span 3;
  grid-row: 2 / span 1;
  position: relative;
}

.text-right::before{
  content: "";
  position: absolute;
  top: 0%;
  left: 65%;
  transform: translate(-50%, -50%); 
  width: 240px;
  height: 240px;
  background-color: #FCA311; 
  opacity: 0.5;
  border-radius: 50%; 
  z-index: -1;

}

.text-right::after{
  content: "";
  position: absolute;
  top: 90%;
  left: 80%;
  transform: translate(-50%, -50%); 
  width: 180px;
  height: 180px;
  background-color: #FCA311; 
  opacity: 0.3;
  border-radius: 50%; 
  z-index: -1;
}





#name {
  position: relative; /* Needed to position the pseudo-element */
  display: inline-block; /* Ensure the container fits the content */
}

#name::after {
  content: ""; 
  position: absolute; /* Position absolutely within the #name container */
  top: 50%; /* Adjust these values to control the circle's position */
  left: 100%;
  transform: translate(-50%, -50%); 
  width: 300px;
  height: 300px;
  background-color: #FCA311;
  opacity: 0.7;
  border-radius: 50%; 
  z-index: -1;
}


.name::after{
  content:"";
  position: absolute;
  top: 85%;
  left: 30%;
  transform: translate(-50%, -50%); 
  width: 350px;
  height: 350px;
  background-image: url(images/Me.jpg); 
  background-size: cover;
  mix-blend-mode: hard-light;
  border-radius: 225px; 
  z-index: -1;
  opacity: 0.7;
}

#background-image{
  z-index: -2;
}

/* Project card */
#project{
  padding-top: 15vh;
  margin-bottom: 48px;
  text-align: center;
}

.project{
  display: flex;
  padding-left: 48px;
  padding-right: 48px;
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
  row-gap: 24px;
  column-gap: 0;
  justify-content: center;
  align-items: self-start;
  perspective: 1000px;
}

.project > div{
  flex-basis: 45%;
}

/* Specify Image */
.project img {
  transition: filter 0.3s ease; /* Smooth transition for the filter */
}

.project *{
  padding-left: 0px;
  padding-right: 0px;
}

.project > div{
  border-radius: 24px; 
  padding: 24px; 
  transition: filter 0.3s ease;
}

.project > div:hover {
  background-color: rgba(252, 255, 255, 0.1); 
  backdrop-filter: blur(20px) saturate(180%); 
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  transform: rotateX(10deg) rotateY(10deg) scale(1.05); /* Apply both rotations */
  transition: transform 0.3s ease, filter 0.3s ease; /* Ensure smooth transitions */
}

.open {
  border-radius: 50%;
  transition: transform 0.8s ease, background-image 0.8s ease; 
}

.open:hover {
  transform: scale(1.05);
  background-image: radial-gradient(circle at center, #fca311 60%, transparent 60%);
}


.project img{
  display: inline-block;
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
  margin: 24px 0px 24px 0px;
}

/* Flex */
.flex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex div{
  display: inline-block;
  max-width: 60%;
}

.flex img{
  width: 72px;
  height: 72px;
  margin: 0px;
}
.project img {
  border-radius: 16px; /* Rounded corners for images */
  margin-bottom: 24px; /* Space between image and text */
}



/* Footer */
footer{
  margin-top: 96px;
}

.footer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 48px;
  padding-bottom: 96px;
  margin-left: 96px;
  margin-right: 96px;
  position: relative;
}

.footer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
  width: 100%; 
  height: 1px; 
  background-color: white; 
}

.footer-logo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding: 6px 24px 6px 24px;
}
.footer img{
  width: 36px;
  aspect-ratio: 1/1;

}

/* Fun */
.header-fun{
  display: grid;
  display: grid;
  grid-template-columns: 92px repeat(6, 1fr) 92px;
  row-gap: 12px;
  column-gap: 12px;
  align-items: stretch;
  justify-content: center;
  margin: 0 24px 0px 24px;
}


.header-fun *{
  position: relative;
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.header-fun img{
  object-fit: cover;
  width: 100%;
}

.header-fun .fun-title{
 grid-column: 1 / -1;
 grid-row: 1 / span 1;
 justify-self: left;
 margin-top: 10vh;
 margin-bottom: 10vh;
 position: relative;
}

.fun-title > h1, .fun-title > p{
  padding-left: 0px;
  padding-right: 0px;
}

.fun-title::before{
  content: "";
  position: absolute; /* or 'absolute' if you want it to scroll with the page */
  top: 10%;
  left: 60%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color:rgba(252, 163, 17);
  opacity: 0.5; /* Adjust the transparency as needed */
  z-index: -1;
}

.fun-title::after{
  content: "";
  position: absolute; /* or 'absolute' if you want it to scroll with the page */
  top: -20%;
  left: -10%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color:rgba(252, 163, 17);
  opacity: 0.7; /* Adjust the transparency as needed */
  z-index: -1;
}

.header-fun .fun-1{
  grid-column: 1 / span 5;
  grid-row: 2 / span 2;
}

.fun-1 > img{
  height: 100%;
}



.header-fun .fun-2{
  grid-column: 6 / span 3;
  grid-row: 2 / span 1;
}

.header-fun .fun-3{
  grid-column: 6 / span 3;
  grid-row: 3 / span 1;
}


/* Hover state of posters */
.fun-1::after{
  opacity: 0;
  position: absolute;
  content:"David Bowie's eclectic persona and chameleon-like artistic versatility cemented his legacy as the \"Starman.\"";
  width: calc(100% - 20px);
  transform: translate(-50%, -50%) scale(0.9);
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 1.5;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fun-1:hover>img{
  filter: brightness(60%) blur(2px);
  transform: rotateX(10deg) rotateY(10deg) scale(1.05);
}

.fun-1:hover::after{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}


.fun-2::after{
  opacity: 0;
  position: absolute;
  content:"The Stone Roses infused their lyrics with sentimentality, echoing with the grit and rhythm of rock and the tenderness of roses -- evoking the breezy, citrus-soaking essence of summer.";
  width: calc(100% - 20px);
  transform: translate(-50%, -50%) scale(0.9);
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 1.5;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fun-2:hover::after{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.fun-2:hover > img{
  filter: brightness(60%) blur(2px);
  transform: rotateX(10deg) rotateY(10deg) scale(1.05);
}


.fun-3::after{
  opacity: 0;
  position: absolute;
  content:"Such an intractable singer. Liam Gallagher leveraged his distinctively languid vocal to imbue the most rudimentary trivialities with power.";
  width: calc(100% - 20px);
  transform: translate(-50%, -50%) scale(0.9);
  text-align: center;
  top: 50%;
  left: 50%;
  line-height: 1.5;
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fun-3:hover::after{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.fun-3:hover > img{
  filter: brightness(60%) blur(2px);
  transform: rotateX(10deg) rotateY(10deg) scale(1.05);
}

/* Photo */

.photo-fun{
  display: grid;
  grid-template-columns: 92px repeat(6, 1fr) 92px;
  row-gap: 12px;
  column-gap: 12px;
  align-items: stretch;
  justify-content: center;
  margin: 0 24px 0px 24px;
}

.photo-fun *{
  transition: transform 0.5s ease, filter 0.5s ease, opacity 0.5s ease;
}

.photo-fun img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.photo-title > h1, .photo-title  > p{
  padding-left: 0px;
  padding-right: 0px;
}

.photo-fun .photo-title{
 grid-column: 1 / -1;
 grid-row: 1 / span 1;
 margin-top: 10vh;
 margin-bottom: 10vh;
 position: relative;
 justify-self: left;
}


.photo-fun .p1 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 2;
}

.photo-fun .p2 {
  grid-column: 4 / span 2;
  grid-row: 2 / span 3;
}

.photo-fun .p3 {
  grid-column: 6 / span 3;
  grid-row: 2 / span 1;
}

.photo-fun .p4 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 3;
}

.photo-fun .p5 {
  grid-column: 4 / -1;
  grid-row: 5 / span 2;
}

.photo-fun .p6 {
  grid-column: 6 / span 3;
  grid-row: 3 / span 2;
}




@media screen and (max-width: 1024px){
  header{
    width: 100%;
  }

  .header1-1{
    margin-left: 24px;
    margin-right: 24px;
  }

  .name > h1{
    font-size: 128px;
  }

  .header1-1  h2{
    font-size: 36px;
  }

  .name::after{
    top: 100%;
    left: 25%;
    width: 300px;
    height: 300px;
    border-radius: 200px;
  }

  .container1-1{
    grid-template-columns: 2fr 4fr 4fr 2fr;
  }

  .navigation{
    margin-left: 48px;
    margin-right: 48px;
  }

  /* Project */
  .header-grid{
    grid-template-columns: 24px repeat(6, 1fr) 24px;
  }
  
  .project > div{
    flex-basis: 40%;
  }

  /* Footer */
  .footer{
    margin-left: 24px;
    margin-right: 24px;
  }
  .footer h3{
    font-size: 18px;
  }
}

@media screen and (max-width: 768px){
  .container1-1{
    grid-template-columns: 1fr;
    gap: 0;
  }

  .container1-1 > div{
    grid-column: 1 / -1;
  }

  .header1-1 .name{
    font-size: 36px;
    grid-column: 1/-1;
    grid-row: 1 / span 1;
    text-align: left;
  }
  .header1-1 .text0{
    grid-column: 1 / -1;
    grid-row: 2 / span 1;
  }
  .header1-1 .banner{
    grid-row: 3 / span 1;
  }
  .name > h1{
    font-size: 96px;
  }

  .header1-1  h2{
    font-size: 24px;
  }

  .name::after{
    top: 80%;
    left: 80%;
    width: 250px;
    height: 250px;
    border-radius: 125px;
  }

  .banner h3{
    font-size: 18px;
  }

  .gallery{
    grid-template-columns: 1fr 1fr;
  }

  .navigation{
    padding: 0;
    margin-left: 12px;
    margin-right: 12px;
    justify-content: center;
  }

  #ye {
    display: none;
  }

  .project > div{
    flex-basis: 80%;
  }

  .header-grid{
    grid-template-columns: 24px repeat(6, 1fr) 24px;
    grid-template-rows: 1fr auto auto auto 3fr;
    row-gap: 48px;
  }
  .header-grid .text-left{
    grid-column: 1/-1;
    grid-row: 2 / span 1;
  }

  .header-grid .text-right{
    grid-column: 1/-1;
    grid-row: 3 / span 1;
  }

  .text-right::before{
    width: 180px;
    height: 180px;
  }

  .text-right::after{
    width: 150px;
    height: 150px;
  }

  .header-grid #down{
    grid-column: 1/-1;
    grid-row: 4 / span 1;
  }

  #name::after{
    width: 250px;
    height: 250px;
  }

  * :hover::after{
    font-size: 14px;
  }
}


